.swatch-item {
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4);
}

.swatch-title {
  padding: 0.2em 1em;
}

$swatch-term: 20%;
$swatch-def: 100% - $swatch-term;

.swatch-details {
  display: flex;
  flex-wrap: wrap;

  dt {
    width: $swatch-term;
    min-width: 4em;
  }

  dd {
    width: calc(#{$swatch-def} - 4em);
  }
}
