$cursor-border-size: 0.3em;
$cursor-size: 1.5em;

.hwb-canvas {
  padding-top: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  position: relative;

  border: 4px solid #666;

  .color-target {
    background-color: transparent;
    border: $cursor-border-size solid rgb(128, 128, 128);
    border-radius: 50%;
    width: $cursor-size;
    height: $cursor-size;
    position: absolute;
    cursor: pointer;
  }
}
