$cursor-border-size: 0.3em;

.hue-canvas {
  // height: 2rem;
  padding-top: 5%;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0) 0%,
    rgb(255, 255, 0) 17%,
    rgb(0, 255, 0) 33%,
    rgb(0, 255, 255) 50%,
    rgb(0, 0, 255) 67%,
    rgb(255, 0, 255) 83%,
    rgb(255, 0, 0) 100%
  );
  position: relative;

  .color-target {
    background-color: transparent;
    border: $cursor-border-size solid rgb(128, 128, 128);
    width: $cursor-border-size * 3;
    position: absolute;
    top: -$cursor-border-size;
    bottom: -$cursor-border-size;
    cursor: pointer;
  }

  &.vertical-canvas {
    .color-target {
      top: auto;
      bottom: auto;
      left: -$cursor-border-size;
      right: -$cursor-border-size;
    }
  }
}
